/*

*.DS_Store
*.classpath
*.project
*.settings

!*.gitignore

!build/
!build/classes/

# Ignore everything in classes directory
build/classes/*
!build/classes/Store/

!src/
src/*
!src/Store/

!WebContent/
WebContent/*
!WebContent/css/
!WebContent/images/
!WebContent/WEB-INF/
WebContent/WEB-INF/*
!WebContent/WEB-INF/Store/

